{% extends 'index.html' %}
{% block main_content %}
    <br>


   


    <h3>Current Students:</h3>
    <table class="table-bordered table-striped table">
        <thead>
            <tr>
                <td><b>Id</b></td>
                <td><b>Name</b></td>
                <td><b>Homepage</b></td>
                <td><b>Athlete</b></td>
                <td><b>Favorite Joke</b></td>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.homepage_url }}</td>
                {% if student.is_athlete %}
                <td>Yes</td>
                {% else %}
                <td>No</td>
                {% endif %}
                <td>{{ student.favorite_joke }}</td>
                
            </tr>
        <tr> 
                <form action="/savedata/" method="post">
                {% csrf_token %}
                <td>{{ student.id }}</td>
                <input type="hidden" id="student_id" name="student_id" value="{{ student.id }}">
                <td><input id="name" name="name" style="border-radius: 0" type="text" class="form-control" placeholder="{{ student.name }}" value="{{ student.name }}" /></td>
                <td><input id="url" name="url" style="border-radius: 0" type="text" class="form-control" value="{{ student.homepage_url }}" /></td>
                {% if student.is_athlete %}
                <td><p><input type="checkbox" name="is_athlete" id="is_athlete" checked="checked"/></p></td>
                {% else %}
                <td><p><input type="checkbox" name="is_athlete" id="is_athlete"/></p></td>
                {% endif %}
                <div style="size:20px;"><div/>
                <td><input id="joke" name="joke" style="border-radius: 0" type="text" class="form-control" value="{{ student.favorite_joke }}" /></td>

                <button class="btn pull-right" type="submit">
                    Save Changes
                </button>
                </form>
                
                <form action="/savedata/" method="post">
                {% csrf_token %}
                <input type="hidden" id="student_id" name="student_id" value="{{ student.id }}">
                <input type="hidden" id="delete" name="delete" value="yes">
                <button class="btn pull-left" type="submit">
                    Delete This Student
                </button>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    




{% endblock %}
